<!DOCTYPE html>
<html lang="en">

<head>
    <style>
body {
  font-family: Georgia, serif;
}
        body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


    </style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>


    <div style="color:white;" class="container">
        <h1 class="text-center" style="font-size:30px">DICTIONARY</h1>
        <p class="text-center" class="text-lowercase"> SEARCH!, LEARN!, HAVE FUN LEARNINIG!</p><br><br>

        <div class="col-xs-5">
            <form action="{{ url_for('search') }}" method="post">
                <div class="input-group input-group-lg">
                    <input type="text" class="form-control" name="search_element" placeholder="Search">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-xs-7">
              <form action="" method="GET">
                  <ul>
                   <br>  &emsp; <li> <u>given word </u> : {{ name }}</li>
                  &emsp; <li><u> meaning</u> : {{ meaning }} </li>
                 &emsp;<li><u>  synonyms</u> : {{ syno }}</li>
                    &emsp; <li><u> sentence</u> : </li>
                      <ol>


                   {% for item in sentence %}
                      {% if item in 'none' %}
                           &emsp;<li><i>  invalid data</i></li>
                      {% else %}
                            &emsp; <li><i> {{ item }}<br> </i></li>
                     {% endif %}
                   {% endfor %}
                          </ol>
                      </ul>
            </form>
        </div>

    </div>




</body>

</html>